$background-color: #ffffff;
$main-color: #aa4e51;
$heading-color:#303233;
$text-color: #7a7a7a;
$border-color: #eeeeee;
$search-background: #303233;
$body-font: "Hind";
$secondary-font: "Raleway";
$subtitle-font: "Playfair Display";
