$background-color: #626c7a;
$main-color: #f89b72;
$heading-color:#ffffff;
$text-color: #b8c3d7;
$border-color: #6b778a;
$search-background: #3c424b;
$body-font: "Hind";
$secondary-font: "Raleway";
$subtitle-font: "Playfair Display";
