$background-color: #ffffff;
$background-color-2: #f3f3f3;
$background-footer: #202020;
$background-menu: rgba(249, 249, 251, 0.3);
$background-category: #feff86;
$main-color: #feff86;
$color-sidebar: #888787;
$heading-color: #303233;
$title-color: #ffffff;
$color-nsu: #888787;
$heading-color-menu: #000;
$heading-color-topbar:#ffffff;
$text-color: #7a7a7a;
$text-color-category: #202020;
$border-color: #ffffff;
$border-buttom: #202020;
$search-background: #303233;
$color-time: #eeeeee;
$body-font: "Raleway";
$secondary-font: "Raleway";
$subtitle-font: "Playfair Display";
$time-font: "Sylfaen";
$text-sidebar: "Myriad Pro";
$text-awesome: "Awesome";
$blockquote: "ElegantIcons";


