.eliteup-iconbox {
  .eliteup-iconbox-icon {
    text-align: center;
    font-size: 35px;
    color: $main-color;
  }
  .eliteup-iconbox-heading {
    text-align: center;
    margin: 0 0 15px;
    font-size: 130%;
  }
  .eliteup-iconbox-description {
    text-align: center;
  }
}